/* Fonts */
@font-face {
  font-family: oddVal;
  src: url(Fonts/OddvalText-SemiBold.ttf);
}
@font-face {
  font-family: akira;
  src: url(Fonts/Akira\ Expanded\ Demo.otf);
}

/* Boilerplate */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: white;
  color: black;
  font-family: oddVal;
  scroll-behavior: smooth;
}

/* Navbar */
.nav {
  background-color: black;
  color: #fbca1f;
  margin: 70px 100px 100px 100px;
  border-radius: 5px;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.nav img {
  height: 40px;
  width: 40px;
}

/* Home */
.home {
  padding: 50px 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#homeL {
  border: 3px solid rgb(0, 0, 0);
  padding: 50px;
  border-radius: 0.4em;
  font-size: large;
}
#homeR {
  order: 2;
  text-align: center;
  width: 500px;
}
#homeR h1 {
  margin-bottom: 50px;
}
#rDown {
  display: flex;
  justify-content: center;
  gap: 10px;
  border: 3px solid rgb(0, 0, 0);
  padding: 50px;
  border-radius: 0.4em;
}

#character button {
  border-radius: 0.4em;
  margin: 5px 5px;
  border: none;
  height: 40px;
  font-family: oddVal;
  border: 2px solid black;
  transition: 0.1s linear 0s;
  filter: drop-shadow(2px 2px black);
  font-size: medium;
  padding: 0px 20px;
}
#speed {
  margin-top: 20px;
}
#speed input {
  margin-top: 10px;
  height: 40px;
  border: 2px solid black;
  outline: none;
  font-family: oddVal;
  padding: 10px 20px;
  width: 100%;
  font-size: large;
}
#pitch {
  margin-top: 20px;
}
#pitch input {
  margin-top: 10px;
  height: 40px;
  border: 2px solid black;
  outline: none;
  font-family: oddVal;
  padding: 10px 20px;
  width: 100%;
  font-size: large;
}
#text textarea {
  margin-top: 40px;
  padding: 20px;
  width: 100%;
  border: 3px solid black;
  outline: none;
  font-family: oddVal;
  font-size: large;
  border-radius: 10px 10px 0px 10px;
  transition: 0.1s linear 0s;
}
.generateB {
  text-align: center;
}
#generateB {
  margin-top: 30px;
  text-align: center;
}
#generateB {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

#generateB:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

#generateB:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

#homeR button {
  padding-top: 5px;
  height: 50px;
  width: 50px;
  border: 3px solid black;
  font-family: oddVal;
  border-radius: 100px;
  background-color: #fbca1f;
  transition: 0.1s linear 0s;
}
#homeR audio {
  border: 3px solid black;
  border-radius: 100px;
}

/* Footer */
.foot {
  font-weight: bold;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: black;
  color: rgb(250, 210, 0);
}

/* Animation and Others */
#homeL .chr:focus {
  background-color: #fbca1f;
  filter: drop-shadow(2px 2px black);
}
@keyframes generateAnim {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
#homeL input {
  border-radius: 5px;
  filter: drop-shadow(2px 2px black);
}
#homeL button:active {
  background-color: #fbca1f;
}
#homeR button:focus {
  background-color: rgba(0, 0, 0, 0);
}
h2::selection, h3::selection, h4::selection, h6::selection{
  background-color: #fbca1f;
}
h1::selection, h5::selection{
  background-color: #fbca1f;
  color: black;
}
label::selection{
  color: #fbca1f;
}
input::selection{
  color: #fbca1f;
}
img::selection{
  background-color:  rgba(0,0,0,0);
}
button::selection{
  background-color:  rgba(0,0,0,0);
}
textarea::selection{
  background-color:  rgba(0,0,0,0);
}
/* Entry Screen */
.entry{
  opacity: 0%;
  height: 100%;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0px;
  display:flex;
  justify-content: center;
  align-items: center;

  animation-name: entryAnim;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 0s;
}
.entry img{
  height: 50px;
  width: 50px;
}
 /* Loading Screen */
 .loading {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
}

.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fbca1f;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}
@keyframes entryAnim{
  from{
    opacity: 100%;
  }
  to{
    opacity: 0%;
  }
}


/* Responsive */
@media (max-width: 1300px) {
  /* Navbar */
  .nav {
    margin: 40px 30px 30px 30px;
    border-radius: 5px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    font-size: x-small;
  }
  .nav img {
    height: 35px;
    width: 35px;
  }
  /* Home */
  .home {
    padding: 50px 30px;
    display: block;
    justify-content: space-around;
    align-items: start;
  }
  #homeL {
    text-align: left;
    border: 3px solid rgb(0, 0, 0);
    padding: 20px;
    border-radius: 0.4em;
    font-size: medium;
  }
  #homeR {
    text-align: center;
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
  }
  #homeR h1 {
    font-size: x-large;
    margin-bottom: 20px;
  }
  #homeR button {
    margin: 0px 5px;
    height: 45px;
    width: 45px;
  }
  #rDown {
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 3px solid rgb(0, 0, 0);
    padding: 20px;
    border-radius: 0.4em;
  }

  #character button {
    border-radius: 0.4em;
    margin: 5px 3px;
    border: none;
    height: 40px;
    font-family: oddVal;
    border: 2px solid black;
    transition: 0.1s linear 0s;
    filter: drop-shadow(2px 2px black);
    font-size: small;
  }
  #speed {
    margin-top: 10px;
  }
  #speed input {
    margin-top: 20px;
    height: 40px;
    border: 2px solid black;
    outline: none;
    font-family: oddVal;
    padding: 10px;
    width: 100%;
    font-size: small;
  }
  #pitch {
    margin-top: 10px;
  }
  #pitch input {
    margin-top: 10px;
    height: 40px;
    border: 2px solid black;
    outline: none;
    font-family: oddVal;
    padding: 10px;
    width: 100%;
    font-size: small;
  }
  #text textarea {
    margin-top: 40px;
    padding: 20px;
    width: 100%;
    border: 3px solid black;
    outline: none;
    border-radius: 10px 10px 0px 10px;
    transition: 0.1s linear 0s;
    font-size: small;
  }
  #homeR audio {
    height: 50px;
    width: 230px;
    border: 3px solid black;
    border-radius: 100px;
  }
  .generateB {
    text-align: center;
  }
  #generateB {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  #generateB {
    font-weight: 900;
    font-size: medium;
  }
  /* Footer */
  .foot {
    margin-top: 100px;
  }
  /* Loader */
  .circle {
    width: 10px;
    height: 10px;
  }
}

